@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avant-bold';
  src: url(./assets/ITCAvantGardeStd-Bold\ -\ copia.otf) format('truetype');
}

.btn {
  display: flex;
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #3458a3;
  color: #fff;
  transition: 200ms all;
}

.btn:hover {
  background-color: #f9a12f;
  color: #fff;
}

.gradient {
  background-color: #293d75;
}

.active {
  border-bottom: 2px solid #293d75;
  color: #293d75;
  transition: 100ms all;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 750px) and (min-height: 550px) {
  #projects {
    height: 100vh;
  }
}

@media screen and (min-width: 1000px) {
  #projects {
      height: auto;
    }
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply font-bold font-primary text-secondBlue hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-20 lg:h-auto flex items-center;
  }
}
